@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lilita One", sans-serif;
}

html,
body {
  font-family: "Open Sans", sans-serif;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #fff;
  color: #fff;
  line-height: 1.7;
}

.main{
  display: flex;
  justify-content: center;
}

.card{
  width: 500px;
  height: 600px;
  margin-top: 40px;
  border-radius: 30px;
  overflow: hidden;
  position: relative;
  background-color: #020202;
  box-shadow: #020202 12px;
  border: 4px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo{
  align-self: center;
  width: 400px;
  height: 200px;
  margin-bottom: 320px;
}

.info{
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  color: aliceblue;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.5s ease-in-out;
  align-items: center;
  margin-top: 90px;
}

.info h2{
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 500;
}

.info p{
  text-align: center;
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 100;
}

.info button{
  height: 60px;
  width: 65px;
  padding: 10px 0px;
  background:#020202;
  border-radius: 80px;
  text-transform: capitalize;
  outline: none;
  cursor: pointer;
  border: none;
  margin-top: 20px;
  transition: 0.3s ease-in-out;
}

/* Style for images inside buttons */
button img {
  align-self: center;
  width: 35px;
  height: 35px;
  object-fit:cover;
  transition: 0.3s ease; /* Smooth transition */
}

button:hover{
  background-color: #fff;
}


